.settingsContainer {
    padding: 5rem 3rem 3rem;
    background-color: #EFEFF5;
    height: 80vh;
}

.settingsHeader {
    h1 {
        margin: 0;
        font-size: 1.5rem;
    }

    p {
        margin: 0.5rem 0;
    }
}

.boardSettingsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

@media screen and (max-width: 500px) {
    .settingsContainer {
        padding: 5rem 1.5rem 3rem;
    }
}