.listEditModal {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;

    div {
        display: flex;
        justify-content: space-between;

        h3 {
            text-align: center;
            margin: 0;
        }

        .listModalExit {
            background-color: transparent;
            border: none;
            padding-top: 0.35rem;
            font-size: 0.75rem;
            cursor: pointer;
        }
    }

    hr {
        width: 100%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 0.25rem;
        padding: 0.5rem;
        box-sizing: border-box;
    }
    li:hover {
        background-color: #F5F6F8;
        cursor: pointer;
    }
}

.deleteButtons {
    margin-left: 0.5rem;

    button {
        margin: 0 0.25rem;
        padding: 0.25rem 0.50rem;
        cursor: pointer;
        background-color: #FFFFFF;
        border: 1px solid black;
    }
    button:hover {
        background-color: darken(#FFFFFF, 5%);
    }
}