.list {
    width: 20%;
    background-color: #EBECF0;
    padding: 1rem 0.75rem;
    margin-right: 1rem;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.1);

    h3 {
        margin: 0 0 1rem;
    }
}

.newCardForm {
    input {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        border: none;
        outline: 1px solid cadetblue;
        padding: 0.35rem;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        display: block;
        background-color: #61BD4F;
        color: white;
        border: 1px solid #61BD4F;
        border-radius: 3px;
        padding: 0.40rem 0.5rem;
        cursor: pointer;
    }
}