// Modal for creating Board
.newBoardModal {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0.75rem;
    border-radius: 5px;
    box-shadow: 0 19px 35px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    h3 {
        margin: 0;
        text-align: center;
    }

    hr {
        width: 100%
    }
}

.modalHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: transparent;
        border: none;
        padding-top: 0.35rem;
        font-size: 0.75rem;
        cursor: pointer;
    }
}

.textInputs {
    margin-bottom: 0.5rem;

    label {
        margin-bottom: 0.40rem;
        display: block;
    }

    input {
        padding: 0.25rem;
        width: 100%;
        font-size: 1rem;
        box-sizing: border-box;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
}

#checkbox {
    input {
        margin-right: 0.5rem;
    }
}


.backgroundSelect {
    margin-top: 1rem;
}

.backgroundBtns {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem 0 1rem;

    li {
        display: inline;
        margin: 0 0.15rem;

        button {
            width: 3rem;
            height: 3rem;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.modalBtn {
    margin-top: 1rem;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .newBoardModal {
        width: 45%;
    }
}

@media screen and (max-width: 575px) {
    .newBoardModal {
        width: 75%;
    }
}